In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('거래내역.csv', encoding='cp949')

In [3]:
df.loc[67]

카드번호(CARD_ID)                   k*Y*y*Z*N*H*g*g*T*D*Z*J*f*5*7*X*d*P*I*p*r*k*
운행출발일시(START_DATETIME)                                                     ~
트랜잭션ID(TRANSACTION_ID)                                                    60
교통수단CD(SUDAN_CD)                                                         203
환승횟수(TRANSFER_CNT)                                                         1
버스노선ID(LINE_ID)                                                     11110269
교통사업자ID(COMPANY_ID)                                                211000000
차량ID(VEHICLE_ID)                                                           ~
교통카드발행사ID(CARD_COMP_ID)                                              2001400
교통카드사용자구분코드(CARD_USER_GBN)                                                 1
교통카드사용자구분코드1(BILL_USER_GBN1)                                               6
교통카드사용자구분코드2(BILL_USER_GBN2)                                               ~
교통카드사용자구분코드3(BILL_USER_GBN3)                                               ~
승차일시(GETON_DATETIME)                                          20190415090230
승차정류장ID(GETON_STATION_ID)                                               2617
하차일시(GETOFF_DATETIME)                                         20190415080603
하차정류장ID(GETOFF_STATION_ID)                                              2549
승객수1(PASSN_CNT1)                                                           1
승객수2(PASSN_CNT2)                                                           0
승객수3(PASSN_CNT3)                                                           0
이용거리(MOV_DIST)                                                          1304
Name: 67, dtype: object

In [4]:
df.loc[67:69]

,카드번호(CARD_ID),운행출발일시(START_DATETIME),트랜잭션ID(TRANSACTION_ID),교통수단CD(SUDAN_CD),환승횟수(TRANSFER_CNT),버스노선ID(LINE_ID),교통사업자ID(COMPANY_ID),차량ID(VEHICLE_ID),교통카드발행사ID(CARD_COMP_ID),교통카드사용자구분코드(CARD_USER_GBN),...,교통카드사용자구분코드2(BILL_USER_GBN2),교통카드사용자구분코드3(BILL_USER_GBN3),승차일시(GETON_DATETIME),승차정류장ID(GETON_STATION_ID),하차일시(GETOFF_DATETIME),하차정류장ID(GETOFF_STATION_ID),승객수1(PASSN_CNT1),승객수2(PASSN_CNT2),승객수3(PASSN_CNT3),이용거리(MOV_DIST)
67,k*Y*y*Z*N*H*g*g*T*D*Z*J*f*5*7*X*d*P*I*p*r*k*,~,60,203,1,11110269,211000000,~,2001400,1,...,~,~,20190415090230,2617,20190415080603,2549,1,0,0,1304
68,G*t*w*W*L*q*n*X*A*2*s*T*Z*i*V*V*h*3*c*q*i*s*,20191221183009,60,201,0,~,211000000,111706337,3101000,1,...,~,~,20191221185306,73091,20191221082647,9012445,2,0,0,4161
69,S*9*y*+*e*Z*/*r*g*K*S*t*e*b*1*p*J*n*t*S*q*4*,~,79,115,2,~,111004500,111744337,3101000,1,...,~,~,20200125095527,71124,20200125123345,0074852,1,0,0,3922

In [7]:
df.columns

Index(['카드번호(CARD_ID)', '운행출발일시(START_DATETIME)', '트랜잭션ID(TRANSACTION_ID)',
       '교통수단CD(SUDAN_CD)', '환승횟수(TRANSFER_CNT)', '버스노선ID(LINE_ID)',
       '교통사업자ID(COMPANY_ID)', '차량ID(VEHICLE_ID)', '교통카드발행사ID(CARD_COMP_ID)',
       '교통카드사용자구분코드(CARD_USER_GBN)', '교통카드사용자구분코드1(BILL_USER_GBN1)',
       '교통카드사용자구분코드2(BILL_USER_GBN2)', '교통카드사용자구분코드3(BILL_USER_GBN3)',
       '승차일시(GETON_DATETIME)', '승차정류장ID(GETON_STATION_ID)',
       '하차일시(GETOFF_DATETIME)', '하차정류장ID(GETOFF_STATION_ID)',
       '승객수1(PASSN_CNT1)', '승객수2(PASSN_CNT2)', '승객수3(PASSN_CNT3)',
       '이용거리(MOV_DIST)'],
      dtype='object')

In [6]:
df['교통수단CD(SUDAN_CD)']

0      120
1      120
2      105
3      203
4      203
      ...
495    201
496    203
497    201
498    120
499    201
Name: 교통수단CD(SUDAN_CD), Length: 500, dtype: int64

In [10]:
코드 = pd.read_csv('코드.csv', encoding='cp949')

In [11]:
코드

     코드구분(GBN_CD) 코드구분명(GBN_NM) 코드값(CODE) 코드명(CODE_NM)
0               1        교통수단코드       105    마을버스(105)
1               1        교통수단코드       115         간선버스
2               1        교통수단코드       120    지선버스(120)
3               1        교통수단코드       121    지선버스(121)
4               1        교통수단코드       130    광역버스(130)
..            ...           ...       ...          ...
499             4    1회권사용자구분코드        44       영어 어린이
500             4    1회권사용자구분코드        45       일어 어린이
501             4    1회권사용자구분코드        46      중국어 어린이
502             5      1회권발행사ID   C900001       코레일1회권
503             5      1회권발행사ID   C900008          티머니

[504 rows x 4 columns]

In [17]:
교통수단코드 = 코드.loc[(코드['코드구분명(GBN_NM)'] == '교통수단코드'), :]

In [18]:
교통수단코드

    코드구분(GBN_CD) 코드구분명(GBN_NM) 코드값(CODE)              코드명(CODE_NM)
0              1        교통수단코드       105                 마을버스(105)
1              1        교통수단코드       115                      간선버스
2              1        교통수단코드       120                 지선버스(120)
3              1        교통수단코드       121                 지선버스(121)
4              1        교통수단코드       130                 광역버스(130)
5              1        교통수단코드       131                 심야버스(131)
6              1        교통수단코드       140                      순환버스
7              1        교통수단코드       142                 도심순환(142)
8              1        교통수단코드       201                     서울메트로
9              1        교통수단코드       202                    한국철도공사
10             1        교통수단코드       203                  서울도시철도공사
11             1        교통수단코드       204                    인천교통공사
12             1        교통수단코드       205                       9호선
13             1        교통수단코드       206                      공항철도
14             1        교통수단코드       208                      신분당선
15             1        교통수단코드       209                      경기철도
16             1        교통수단코드       231                용인경량전철(통합)
17             1        교통수단코드       232               의정부 경전철(통합)
18             1        교통수단코드       235                   우이신설경전철
19             1        교통수단코드       236                    김포도시철도
20             1        교통수단코드       470                      인천간선
21             1        교통수단코드       472          인천마을버스(472)-기본요금
22             1        교통수단코드       475                    인천급행간선
23             1        교통수단코드       476                    인천시내좌석
24             1        교통수단코드       480                      인천지선
25             1        교통수단코드       481                    인천마을버스
26             1        교통수단코드       483       인천공항좌석(483)-초승거리비례제
27             1        교통수단코드       485       인천광역버스(485)-초승거리비례제
28             1        교통수단코드       487                   인천광역구버스
29             1        교통수단코드       491       인천좌석버스(491)-초승거리비례제
30             1        교통수단코드       496  국토부인천광역(496)-초승거리비례제-M버스
31             1        교통수단코드       500       경기일반버스(500)-초승거리비례제
32             1        교통수단코드       511         경기 일반버스(511)-기본요금
33             1        교통수단코드       530                 경기좌석(530)
34             1        교통수단코드       533                 경기좌석(533)
35             1        교통수단코드       550            경기순환버스-초승거리비례제
36             1        교통수단코드       570  국토부경기광역(570)-초승거리비례제-M버스
37             1        교통수단코드       580              경기 마을버스(580)
38             1        교통수단코드       581              경기 마을버스(581)
39             1        교통수단코드       582              경기 마을버스(582)
40             1        교통수단코드       583               경기마을버스(583)
41             1        교통수단코드       584          경기마을버스(584)-기본요금

In [22]:
교통수단코드_정리 = 교통수단코드[['코드값(CODE)', '코드명(CODE_NM)']]

In [23]:
교통수단코드_정리

   코드값(CODE)              코드명(CODE_NM)
0        105                 마을버스(105)
1        115                      간선버스
2        120                 지선버스(120)
3        121                 지선버스(121)
4        130                 광역버스(130)
5        131                 심야버스(131)
6        140                      순환버스
7        142                 도심순환(142)
8        201                     서울메트로
9        202                    한국철도공사
10       203                  서울도시철도공사
11       204                    인천교통공사
12       205                       9호선
13       206                      공항철도
14       208                      신분당선
15       209                      경기철도
16       231                용인경량전철(통합)
17       232               의정부 경전철(통합)
18       235                   우이신설경전철
19       236                    김포도시철도
20       470                      인천간선
21       472          인천마을버스(472)-기본요금
22       475                    인천급행간선
23       476                    인천시내좌석
24       480                      인천지선
25       481                    인천마을버스
26       483       인천공항좌석(483)-초승거리비례제
27       485       인천광역버스(485)-초승거리비례제
28       487                   인천광역구버스
29       491       인천좌석버스(491)-초승거리비례제
30       496  국토부인천광역(496)-초승거리비례제-M버스
31       500       경기일반버스(500)-초승거리비례제
32       511         경기 일반버스(511)-기본요금
33       530                 경기좌석(530)
34       533                 경기좌석(533)
35       550            경기순환버스-초승거리비례제
36       570  국토부경기광역(570)-초승거리비례제-M버스
37       580              경기 마을버스(580)
38       581              경기 마을버스(581)
39       582              경기 마을버스(582)
40       583               경기마을버스(583)
41       584          경기마을버스(584)-기본요금

In [25]:
교통수단코드_정리.set_index('코드값(CODE)').T

코드값(CODE),105,115,120,121,130,131,140,142,201,202,...,511,530,533,550,570,580,581,582,583,584
코드명(CODE_NM),마을버스(105),간선버스,지선버스(120),지선버스(121),광역버스(130),심야버스(131),순환버스,도심순환(142),서울메트로,한국철도공사,...,경기 일반버스(511)-기본요금,경기좌석(530),경기좌석(533),경기순환버스-초승거리비례제,국토부경기광역(570)-초승거리비례제-M버스,경기 마을버스(580),경기 마을버스(581),경기 마을버스(582),경기마을버스(583),경기마을버스(584)-기본요금

In [26]:
교통수단코드_정리.set_index('코드값(CODE)').T.to_dict()

{'105': {'코드명(CODE_NM)': '마을버스(105)'},
 '115': {'코드명(CODE_NM)': '간선버스'},
 '120': {'코드명(CODE_NM)': '지선버스(120)'},
 '121': {'코드명(CODE_NM)': '지선버스(121)'},
 '130': {'코드명(CODE_NM)': '광역버스(130)'},
 '131': {'코드명(CODE_NM)': '심야버스(131)'},
 '140': {'코드명(CODE_NM)': '순환버스'},
 '142': {'코드명(CODE_NM)': '도심순환(142)'},
 '201': {'코드명(CODE_NM)': '서울메트로'},
 '202': {'코드명(CODE_NM)': '한국철도공사'},
 '203': {'코드명(CODE_NM)': '서울도시철도공사'},
 '204': {'코드명(CODE_NM)': '인천교통공사'},
 '205': {'코드명(CODE_NM)': '9호선'},
 '206': {'코드명(CODE_NM)': '공항철도'},
 '208': {'코드명(CODE_NM)': '신분당선'},
 '209': {'코드명(CODE_NM)': '경기철도'},
 '231': {'코드명(CODE_NM)': '용인경량전철(통합)'},
 '232': {'코드명(CODE_NM)': '의정부 경전철(통합)'},
 '235': {'코드명(CODE_NM)': '우이신설경전철'},
 '236': {'코드명(CODE_NM)': '김포도시철도'},
 '470': {'코드명(CODE_NM)': '인천간선'},
 '472': {'코드명(CODE_NM)': '인천마을버스(472)-기본요금'},
 '475': {'코드명(CODE_NM)': '인천급행간선'},
 '476': {'코드명(CODE_NM)': '인천시내좌석'},
 '480': {'코드명(CODE_NM)': '인천지선'},
 '481': {'코드명(CODE_NM)': '인천마을버스'},
 '483': {'코드명(CODE_NM)': '인천공항좌석(483)-초승거리비례제'},
 '485': {'코드명(CODE_NM)': '인천광역버스(485)-초승거리비례제'},
 '487': {'코드명(CODE_NM)': '인천광역구버스'},
 '491': {'코드명(CODE_NM)': '인천좌석버스(491)-초승거리비례제'},
 '496': {'코드명(CODE_NM)': '국토부인천광역(496)-초승거리비례제-M버스'},
 '500': {'코드명(CODE_NM)': '경기일반버스(500)-초승거리비례제'},
 '511': {'코드명(CODE_NM)': '경기 일반버스(511)-기본요금'},
 '530': {'코드명(CODE_NM)': '경기좌석(530)'},
 '533': {'코드명(CODE_NM)': '경기좌석(533)'},
 '550': {'코드명(CODE_NM)': '경기순환버스-초승거리비례제'},
 '570': {'코드명(CODE_NM)': '국토부경기광역(570)-초승거리비례제-M버스'},
 '580': {'코드명(CODE_NM)': '경기 마을버스(580)'},
 '581': {'코드명(CODE_NM)': '경기 마을버스(581)'},
 '582': {'코드명(CODE_NM)': '경기 마을버스(582)'},
 '583': {'코드명(CODE_NM)': '경기마을버스(583)'},
 '584': {'코드명(CODE_NM)': '경기마을버스(584)-기본요금'}}